a:focus {
    outline: none!important;
}

.m-header--minimize-on .m-brand .m-brand__logo .m-brand__logo-wrapper img {
    max-height: 74px!important;
    max-width: 140px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border:0px!important;
    padding:0px!important;
}
.dataTables_length{
    margin-bottom:10px;
}
.dataTables_length .form-control {
    margin-left: 5px;
    margin-right: 5px;
    width:60%!important;
    display: inline-block!important;
}
table.dataTable.no-footer {
    border-bottom:1px solid #f4f4f4!important;
}
.form-control{
    height: inherit!important;
    box-shadow: none!important;
}
.m-bootstrap-select .caret {
    display: none !important;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper img {
        width: 160px;
    }
.dataTables_wrapper .dataTables_processing {
    z-index: 99999;
    padding-top: 28px!important;
    height: 68px;
}
.m-loader::before {
    top: 20%!important;
}
.modal-header {
    display: inline-block!important;
    z-index: 1005;
}
.m-bootstrap-select .dropdown-menu.inner {
    max-height: 225px !important;
}
/* ====Modal image css ====*/
.modal-body img{
    width: 70px;
}
/* ========Media Query======= */
@media only screen and (max-width: 500px) {
    .m-brand .m-brand__tools .m-dropdown .btn {
        padding: 0.7rem 1.0rem 0.7rem 1.0rem!important;
    }
    .m-brand .m-brand__logo .m-brand__logo-wrapper img {
        width: 85px!important;
    }

}


